.navbar {
  background: var(--main-color);
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  &__exit {
    justify-content: flex-end;
    padding-right: 180px;
  }
  &__link {
    display: block;
    padding: 20px;
    border-bottom: 2px solid var(--main-color);



    &:hover {
      transition: 0.8ms color;
      border-bottom: 2px solid var(--red-color);
      background: var(--aqua-color);
    }

  }
}


:global {
  .active {
    border-bottom: 2px solid var(--red-color);
    background: var(--aqua-color);
  }
}


